@charset "utf-8";

$primary: #4c4d7f;

@import "../node_modules/bulma/bulma.sass";

@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: block;
    }
}

.checkbox[disabled=false], .radio[disabled=false], fieldset[disabled=false] .checkbox, fieldset[disabled=false] .radio {
  color: inherit;
  cursor: pointer;
}

$disabled-color: #7a7a7a;

.checkbox[disabled=true], .radio[disabled=true], fieldset[disabled=true] .checkbox, fieldset[disabled=true] .radio {
  color: $disabled-color;
  cursor: not-allowed;
  input {
    cursor: not-allowed;
  }
  &:hover {
    color: $disabled-color;
  }
}